# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# Data & artifacts (DO NOT COMMIT)
data_raw/
data_index/
runs/
runs_archive/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db